<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- define the Oracle Repository spring beans -->
	<!-- ProductRepository productRepository = new OracleRepository(); -->
	<!-- ProductRepository productRepository = new MySqlRepository(); -->

	<bean id="productRepository"
	class = "com.live.repositories.OracleRepository"/>
	
		<bean id="productRepository1"
	class = "com.live.repositories.MySqlRepository"/>

</beans>
